<!DOCTYPE html>
<html lang="en">
<head>
	<title>CovSafe</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-light bg-white">
	  <a class="navbar-brand" href="/">
	    <img src="{{ url_for('static', filename='logo.PNG')}}" width="50%" height="50%" alt="">
	  </a>
	  <form class="form-inline">
			<a class="nav-link" href="/iniciarS">Iniciar Sesión</a>
			<a class="nav-link" href="/registrar">Registro</a>
  	  </form>
	</nav>
<div style="background-color: #13D6B7" class="container-fluid">
	<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<h2 style="text-align: center">Protejamos a nuestro país contra el virus del Covid19</h2>
	</div>
	<div class="col-md-6">
	</div>
	</div>
</div>

<div style="background-color: white" class="container-fluid">
	<div class="row">
	<br>
	<div class="col-md-4">
		<br>
		<img src="{{ url_for('static', filename='protocolo1.JPG')}}" style="width: 90%; height: 100%">
	</div>

	<div class="col-md-4">
		<br>
		<img src="{{ url_for('static', filename='protocolo2.JPG')}}" style="width: 90%; height: 100%">
	</div>

	<div class="col-md-4">
		<br>
		<img src="{{ url_for('static', filename='protocolo3.JPG')}}" style="width: 90%; height: 100%">
	</div>
	</div>
</div>
</body>
</html>