<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>reportesDocumentoEstablecimiento</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#13D6B7">
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='logo.PNG')}}" width="50%" height="50%" alt="forecastr logo">
    </a>
  </div>
    <form class="form-inline justify-content-end align-items-end">
	   <div class="btn-group dropleft">
	   <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{data[0][0]}}</button><span class="sr-only">Toggle Dropdown</span>
	          <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
	            <a class="dropdown-item" href="/modInfoEstablecimiento/{{data[0][1]}}"><img src="{{ url_for('static', filename='neg.PNG')}}" width="20%" height="20%" alt=""> Perfil </a>
	            <a class="dropdown-item" href="/reportesEstablecimientoNIT/{{data[0][1]}}">Reportes</a>
	            <a class="dropdown-item" href="/usrEstablecimientoNIT/{{data[0][1]}}">Ingreso manual de cliente</a>
	            <a class="dropdown-item" href="/cierreEstablecimientoNIT/{{data[0][1]}}">Eliminar cuenta</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="/">Cerrar Sesión</a>
	          </div>
	  	</div>
	</form>
</nav>
		
		


<div class="container">
	<div class="row m-5 justify-content-center align-items-center" style="background-color:#13D6B7">
	    <div class="col-sm-7 bg-white">
		    	<div class="col center-text">
		    		<div class="form-group" style="align-items: center;
						justify-content: center;">
						<br>
			              <h2 style="text-align: center; line-height: 50% "> Reporte por número de documento </h2>
							<br>
							<h5 style="font-family: Bree Serif; padding: 2%; text-align: center">Bienvenido a CovSafe</h5>
								<form action="/filtroDocEstablecimiento/{{data[0][1]}}" method='POST'>
								    <div class="form-group">
									    <label>Número de documento</label>
									    <input type="number" class="form-control" id="doc" name="doc">
									</div>

								
				 			<div style="display: flex; align-items: center; justify-content: center; padding: 5%">
				 				<form action="/filtroDocEstablecimiento/{{data[0][1]}}" method='POST'>
					 				<input style="WIDTH: 228px; HEIGHT: 80px" size=32 class="btn btn-primary" type="submit" value="Generar archivos">
					 			</form>
				 			</div>
				 			</form>
				 			<div class="form-row">
							    <div class="form-group col-md-6">
							    	<div class="row m-5 justify-content-center align-items-center">
							   		<a class="btn btn-info" href="/download/excel/archivo.xlsx">Descargar Excel</a>
							   	</div>
							    </div>
							    <div class="form-group col-md-6">
							    	<div class="row m-5 justify-content-center align-items-center">
							   		<a class="btn btn-info" href="/download/pdf/archivo.pdf">Descargar PDF</a>
							   	</div>
							    </div>
							</div>
							{% with messages = get_flashed_messages() %}
					 		{% if messages %}
					 		{% for m in messages %}
					 			<b><p>{{m}}</p></b>
					 		{% endfor %}
					 		{% endif %}
					 		{% endwith %}	
			        	</div>
		    		</div>
		    </div>
	   	</div>
	</div>

</body>

</html>